extends email-layout

block content
    p(class='customer') Dear #{user.name},
    br
    p Thank you very much for visiting our stand at the Uniti Expo in Stuttgart.
    p We hope by showing our innovating solutions the fair was eye-opening for you.
    p For more information please visit our brand new website: https://mobility.bigbrother.nl/en.
    br
    p If you have any furter questions please do not hesitate to contact me.
    br
    img(class='sales picture' src=sales_rep.picture)
    p(class='sales name') #{sales_rep.name}
    p(class='sales mail') #[strong P:]    #{sales_rep.email} 
    p(class='sales phone') #[strong E:]    #{sales_rep.phone}