extends email-layout

block content
    h2 Thank you!
    p Dear #{name},
    br
    p Thank you very much for visiting our stand at the Uniti Expo in Stuttgart.
    p We hope by showing our innovating solutions the fair was eye-opening for you.
    p For more information please visite our brand new website: https://mobility.bigbrother.nl.
    br
    p f you have any furter questions please don’t hesitate to contact me.
    br
    img #{sales_rep.image}
    p #{sales_rep.name}
    p #{sales_rep.email} 
    p #{sales_rep.phone}