extends layout.pug

block content
    .container.full-page
        .centered-content(style="width: 100%")
            h2(style='margin-bottom: 40px') Contacts
                a.btn(href='/uniti-crm/new' style='text-decoration: none; margin-left: 20px') Create new
                button.btn#exportcontacts(style='margin-left: 20px') Export Contacts

            .filters 
                //- h3(style="margin-bottom: 24px") Filters
                .filter 
                    p Total Contacts: #{contacts.length}

            if contacts.length <= 0 
                p There are no contacts found 
                
            if contacts.length > 0
                .table
                    table
                        tr
                            th.table-header Name
                            th.table-header Company
                            th.table-header Function
                            th.table-header Email
                            th.tabele-header M type
                            th.table-header Sales
                            th.table-header Phone
                            th.table-header Description

                        each contact in contacts
                            tr(data-databaseid=contact._id)
                                td(data-name) #{contact.name}
                                td(data-company) #{contact.company}
                                td(data-job_title) #{contact.job_title}
                                td(data-email) #{contact.email}
                                td(data-mtype) #{contact.mtype}
                                td(data-sales_rep) #{contact.sales_rep.name}
                                td(data-phone) #{contact.phone}
                                td(data-descirption) #{contact.description}
                                td 
                                    if contact.picture
                                        button(class='open-picture' data-url=contact.picture style='cursor: pointer') Open Afbeelding
                                    
