extends layout.pug

block content
    .container
        .content-bundler(style='width: 100%')
            h1 Uniti Contacts
            form(id="crmForm" method="POST" enctype="multipart/form-data")

                .form-group#uploadfile
                    label(for="file") Choose file to upload
                    input(type='file' name='picture' id='picture')


                .form-group
                    label(for="name") Name 
                    input(type="text", name="name" id="name")
                .form-group
                    label(for="company") Company 
                    input(type="text", name="company" id="company")
                .form-group
                    label(for="email") Email 
                    input(type="email", name="email" id="email")

                //- Nice to have - Country prefix && max-length 10 characters
                .form-group
                    label(for="phone") Phone number 
                    input(type="number", name="phone" id="phone")

                .form-group#mappointment
                    label(for="mtype") M appointment 
                    select(name="mtype" id="mtype-selector" required)
                        each m in mtype
                            option(value=m) #{m}

                .form-group#jobtitle
                    label(for="job_title") Job Title 
                    select(name="job_title" id="job_title-selector" required)
                        each job in job_title
                            option(value=job) #{job}

                .togglecontainer.hidden
                    .toggler
                        .clickme#clickme
                        .section-title 
                            p Address
                            i(class="fas fa-caret-down")
                        hr
                    .form-group
                        label(for="street") Street 
                        input(type="text", name="street" id="street")
                    .form-group.responsive.half
                        label(for="postal") Postcal code 
                        input(type="text", name="postal" id="postal")
                    .form-group.responsive.half
                        label(for="city") City 
                        input(type="text", name="city" id="city")
                    .form-group
                        label(for="country") Country 
                        input(type="text", name="country" id="country")
                    hr

                .form-group#language
                    label(for="language") Language 
                    select(name="language" id="language-selector" required)
                        option(value='empty')
                        each language in languages
                            option(value=language.name selected=(language.default === true ? 'selected' : false)) #{language.name}

                .form-group#sales_rep
                    label(for="sales_rep") Sales man 
                    select(name="sales_rep" id="sales_rep-selector" required)
                        option(value='empty')
                        each sales_rep in sales_reps
                            option(value=sales_rep._id selected=(sales_rep._id.toString() === user._id.toString() ? 'selected' : false)) #{sales_rep.name}
                .form-group(style='flex-direction: row')
                    label(for="send_confirmation" style="align-self: center; margin-bottom: 0;") Send thank you message
                    label(class="switch" for='send_confirmation')
                        input(type="checkbox" checked name='send_confirmation' id='send_confirmation')
                        span(class="slider round")
                .form-group
                    label(for="description") Notes
                    textarea(name="description", cols="30", rows="10")
                .form-group
                    button(class='btn' type="submit") Save Contact