extends layout.pug

block content
    .container.full-page
        .centered-content(style='width: 90%')
            h2 All documents

            .table.documents
                table(id='documentTable')
                    tr
                        th Document ID
                        th Customer
                        th Created At
                        th Created By
                    each report in reports 
                        tr(class='tableClick' data-id=report.reportId)
                            td #{report.reportId}
                            td #{report.customer}
                            td #{report.createdAt}
                            td #{report.createdBy.name}
            
    
