extends layout.pug

block content
    .container.full-page
        .centered-content(style='width: 90%')
            h2 All Documents

            .table.documents
                table(id='documentTable')
                    tr
                        th Document
                        th Customer
                        th Created
                        th Owner
                        th Actions
                    if locals.documents 
                        each report in locals.documents
                            tr(class='tableClick' data-id=report.reportId id=report.reportId)
                                td #{report.reportId}
                                td #{report.customer}
                                td 
                                td 
                                td(data-clickable='false' data-rowid=report.reportId class='td-action')
                                    i(class="fas fa-spinner loading-spinner" data-clickable='false')
                    each report in reports 
                        tr(class='tableClick' data-id=report.reportId id=report.reportId)
                            td(data-table-entity='id') #{report.name}
                            td(data-table-entity='customer') #{report.customer}
                            td(data-table-entity='date') #{report.newDate}
                            td #{report.createdBy.name}
                            td(data-clickable='false' data-rowid=report.reportId class='td-action')
                                .report-dropdown 
                                    p.report-dropdown-item Edit
                                    p.report-dropdown-item Share PDF
                                    p.report-dropdown-item Delete
                            
            
    
