extends layout.pug

block content
    .container.full-page
        .centered-content(style='width: 90%')
            h2 All Documents

            .table.documents
                table(id='documentTable')
                    tr
                        th Document ID
                        th Customer
                        th Created At
                        th Created By
                        th Actions
                    each report in reports 
                        tr(class='tableClick' data-id=report.reportId id=report.reportId)
                            td #{report.reportId}
                            td #{report.customer}
                            td #{report.newDate}
                            td #{report.createdBy.name}
                            td(data-clickable='false' data-rowid=report.reportId class='td-action')
                                i(class="fas fa-trash delete-row" data-clickable='false' data-rowid=report.reportId)
            
    
