extends layout.pug

block content
    .container
        .centered-content(style='width: 90%')
            - var documentsEnd = (page * per_page)
            - var documentsBegin = (documentsEnd - (per_page - 1))
            h2 All Documents
                if page === pages  
                    span.pagenumbers (#{documentsBegin} - #{quantity})
                else 
                    span.pagenumbers (#{documentsBegin} - #{documentsEnd})

            .table.documents
                table(id='documentTable')
                    tr
                        th(style='width: 30%') Name
                        th Customer
                        th Created
                        th Owner
                        th(style='width: 10px')
                    each report in reports 
                        tr(class='tableClick' class=(report.status === 'inprogress' || report.status === 'failed' ? 'inprogress' : '') data-id=report.reportId id=report.reportId)
                            td(data-table-entity='id') #{report.name}
                                input(type="text", name="name" id='name' value=report.name style='height: 30px; display: none')
                            td(data-table-entity='customer') #{report.customer}
                            td(data-table-entity='date') #{report.newDate}
                            td #{report.createdBy.name}
                            td(data-clickable='false' data-rowid=report.reportId class='td-action' style='display: flex; justify-content: center; align-items: center; border: none')
                                if report.status === 'completed'
                                    p(class='dropdown-icon') ...
                                    .report-dropdown(data-dropdownid=report.reportId) 
                                        p.report-dropdown-item(onClick=`window.location.href="/documents/${report.reportId}"`) Watch
                                        p.report-dropdown-item.sharebutton(data-reportid=report.reportId) Share Report
                                        p.report-dropdown-item.delete-row(data-reportid=report.reportId) Delete

                                if report.status === 'inprogress'
                                    i(class="fas fa-spinner loading-spinner" data-clickable='false')
                                if report.status === 'failed'
                                    i(class="fas fa-exclamation-triangle" data-clickable='false')
                
                - var n = 1
                .pagination
                    while n <= pages
                        p.page(class=(n === page ? 'actual' : '') data-pagenumber=n)= n++
