extends layout.pug

block content
    #customer-report
        .header.page-end
            .container
                h5 PriceCast Fuel
                h1 #{report.customer}
                button.btn(id='generate-report') Download report
            .header-overlay
        .report
            each location in report.locations
                .container(style='justify-content: start')
                    h2(id=location.stationId) #{location.name}
                each product in location.products
                    .product(id=product.productId, data-customer=product.productId).page-end
                        .container
                            .title-bar 
                                .title-bar-left
                                    if product.strategy
                                        .indicator(class=product.strategy.vbi.state) 
                                            p #{product.strategy.vbi.value}
                                    else 
                                        .indicator(class='not-active')
                                            p N/A
                                    .title 
                                        p #{product.name}
                                .title-bar-right 
                                    img(data-html2canvas-ignore src="/img/download.svg", alt="download", style="cursor: pointer" class='downloadImage' id="downloadImage" data-product=product.productId)
                            .table
                                table
                                    tr
                                        th Periode op vorig jaar
                                        th(id="report-period") #{report.dates.from_date} - #{report.dates.till_date}
                                        th #{report.dates.from_dateLY} - #{report.dates.till_dateLY}
                                        th Verschil
                                        if product.previousPeriod.length > 0
                                            th #{report.dates.from_datePP} - #{report.dates.till_datePP}
                                    tr
                                        td.table-header Totaal Volume 
                                        td #{product.volume.value}
                                        td #{product.volumeLY.value}
                                        td(class=product.volumeDifference.state) #{product.volumeDifference.value} 
                                        if product.previousPeriod.length > 0
                                            td #{product.volumePP.value}
                                    tr 
                                        td.table-header Gem. volume per dag
                                        td #{product.volumePerDay.value}
                                        td #{product.volumePerDayLY.value}
                                        td(class=product.volumePerDayDifference.state) #{product.volumePerDayDifference.value}
                                        if product.previousPeriod.length > 0
                                            td #{product.volumePerDayPP.value}
                                    tr 
                                        td.table-header Totaal marge
                                        td #{product.margin.value}
                                        td #{product.marginLY.value}
                                        td(class=product.marginDifference.state ) #{product.marginDifference.value}
                                        if product.previousPeriod.length > 0
                                            td #{product.marginPP.value}
                                    tr  
                                        td.table-header Marge per liter
                                        td #{product.unitMargin.value}
                                        td #{product.unitMarginLY.value}
                                        td(class=product.unitMarginDifference.state) #{product.unitMarginDifference.value}
                                        if product.previousPeriod.length > 0
                                            td #{product.unitMarginPP.value}
                                    tr  
                                        td.table-header Aantal transacties
                                        td #{product.countTransactions.value}
                                        td #{product.countTransactionsLY.value}
                                        td(class=product.countTransactionsDifference.state) #{product.countTransactionsDifference.value}
                                        if product.previousPeriod.length > 0
                                            td #{product.countTransactionsPP.value}
                    
                            if product.benchmark.value
                                .table(style="margin-top: 40px")
                                    table 
                                        tr 
                                            th Periode
                                            th Benchmark
                                            th #{location.name} 
                                        tr
                                            td.table-header Volume verschil
                                            td(class=product.benchmark.state) #{product.benchmark.value} %
                                            td(class=product.volumeDifferencePercentage.state) #{product.volumeDifferencePercentage.value} %
                            if product.strategy
                                .table(style="margin-top: 40px")
                                    table 
                                        tr 
                                            th.table-header Brandstof
                                            td #{product.name}
                                        tr
                                            td.table-header Strategie
                                            td #{product.strategy.name}
                                        
                                        //- if product.strategy === 'A-AIv2' | A-AI | R-AIv2 | R-AI
                                        if product.strategy.name === 'R-AIv2' || product.strategy.name === 'R-AI'
                                            tr 
                                                td.table-header Bandbreedte
                                                td #{product.strategy.minBandwith} | #{product.strategy.maxBandwith}
                                            tr 
                                                td.table-header Bandbreedte gedrag
                                                td #{product.strategy.bandwithBehaviour}
                                        if product.strategy.name === 'R-AIv2' || product.strategy.name === 'R-AI' || product.strategy.name === 'A-AIv2' || product.strategy.name === 'A-AI'
                                            tr 
                                                td.table-header Intensity
                                                td #{product.strategy.intensity}
                                        tr 
                                            td.table-header Datum suggestie 
                                            td #{product.strategy.vbi.date}
                            .buttons(data-html2canvas-ignore="true")
                                button.btn.btn-graphic(id=product.productId data-report=report.reportId data-station=location.stationId) Bekijk Prijs Grafiek
                            .chart(id=report.reportId + '-' + location.stationId + '-' + product.productId)
                                span(class='modal-icon') 
                                    i(class="fas fa-times")

                