extends layout.pug

block content
    .container.full-page
        .centered-content(style="width: 100%")
            h2 Settings
            h3 New Registration
            form(action="/api/auth/generatetoken" method="POST")
                .form-group
                    label(for='email')
                    input(type='email', name='email' id='email')
                .form-group
                    label(for='email')
                    input(class='btn' type='submit')

            h3 ProductMatrix
            .table
                table
                    tr
                        th.table-header Product ID
                        th.table-header Product Name
                        th.table-header PLU
                        th.table-header BenchMark 
                        th.table-header Station ID 
                        th.table-header Station Name
                        th.table-header Change
                    each product in products
                        tr
                            td #{product.productId}
                            td #{product.name}
                            td #{product.plu}
                            td #{product.benchmark}
                            td #{product.stationId}
                            td #{product.stationName}
                
                button.btn Add new product